@model IEnumerable<WebApp.Models.ViewModels.Student>

@{
    ViewData["Title"] = "Index";
}

<h2>Students</h2>
<br />

<div class="row">
    @ViewBag.Validation
</div>
<form>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="Name">Name</label>
            <input type="text" class="form-control is-valid" id="studentName" placeholder="Name">
            <div class="hidden" id="nameVMessage">
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="Surname">Surname</label>
            <input type="text" class="form-control is-valid" id="studentSurname" placeholder="Surname">
            <div class="hidden" id="surVMessage">
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="Dob">DOB</label>
            <input type="date" class="form-control" id="studentDob">
            <div class="hidden" id="dobDVMessage">
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="button"></label>
            <div>
                <button type="button" id="create" class="btn btn-primary mb-2">Create new student</button>
            </div>
        </div>
    </div>
</form>

<br />
<table class="table" id="studentsGrid">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dob)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dob)
                </td>
                <td>
                    <button type="button" name="editBtn" onclick="editBtn(this)" class="btn btn-warning mb-2">Edit</button>
                    <a href="/Students/Details/@item.Id" class="btn btn-info" role="button">View Semesters</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/js/studentsIndex.js" asp-append-version="true"></script>
}