@model IEnumerable<WebApp.Models.ViewModels.Discipline>

@{
    ViewData["Title"] = "Index";
}

<h2>Disciplines</h2>
<br />

<div class="row">
    @ViewBag.Validation
</div>
<form id="disForm">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="Name">Name</label>
            <input type="text" class="form-control is-valid" id="disciplineName" placeholder="Name">
            <div class="hidden" id="nameVMessage">
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="ProffesorName">Proffesor Name</label>
            <input type="text" class="form-control is-valid" id="disciplineProfessorName" placeholder="Proffesor Name">
            <div class="hidden" id="prNameVMessage">
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="Score">Score</label>
            <input type="number" class="form-control" min="0" value="0" step=".5" id="disciplineScore">
            <div class="hidden" id="scoreVMessage">
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="button"></label>
            <div>
                <button type="button" id="create" class="btn btn-primary mb-2">Create new descipline</button>
            </div>
        </div>
    </div>
</form>
<br />
<br />
<table class="table" id="disciplinesGrid">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfessorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    <button type="button" name="editBtn" onclick="editBtn(this)" class="btn btn-warning mb-2">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script src="~/js/disciplinesIndex.js" asp-append-version="true"></script>
}
