@model IEnumerable<WebApp.Models.ViewModels.Semester>

@{
    ViewData["Title"] = "Index";
}

<h2>Semesters</h2>

<br />
<div class="row">
    @ViewBag.Validation
</div>
<form>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="Name">Name</label>
            <input type="text" class="form-control is-valid" id="semName" placeholder="Name">
            <div class="hidden" id="nameVMessage">
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="StartDate">Start Date</label>
            <input type="date" class="form-control" id="semStartDate" placeholder="endDate">
            <div class="hidden" id="startDVMessage">
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="EndDate">End Date</label>
            <input type="date" class="form-control" id="semEndDate" placeholder="endDate">
            <div class="hidden" id="endDVMessage">
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="button"></label>
            <div>
                <button type="button" id="create" class="btn btn-primary mb-2">Create new semester</button>
            </div>
        </div>
    </div>
</form>

<br />
<br />
<table class="table" id="semsGrid">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <button type="button" name="editBtn" onclick="editBtn(this)" class="btn btn-warning mb-2">Edit</button>
                    <a href="/Semesters/Details/@item.Id" class="btn btn-info" role="button">View Disciplines</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/js/semestersIndex.js" asp-append-version="true"></script>
}